<div class="cards-container">
    <app-card></app-card>
    <app-card [planType]="cardPlanType" [planPrice]="cardPlanPrice"></app-card>
    <br>
    
</div>
<br>
<input 
        #meuInput
        type="text"
        (keyup)="handlePlanType(meuInput.value)"
        placeholder="Digite o plano"
    >
<!-- <input id="meu-input"
 [value]="inputText"
  [type]="inputType"
   [disabled] = "isDisable"
   (keyup)="handleInput($event)"
   />
<br>
<button (click)="visibleText()">Habilitar</button>
<button (click)="invisibleText()">Desabilitar</button> -->

<!-- <button [attr.title]="buttonTitle">Teste</button> -->

<!-- <button style="width: 100px; background-color: aqua;">Botão 0</button>
<br>
<button [style.width]="widthButton">Botão 0</button> -->